.cpcache/
.lsp/
.clj-kondo/
.calva/
.nrepl-port

target/
classes/

.idea/
.vscode/

.DS_Store

resources/llm-responses/
resources/datasets

tmp_inspect.clj
extract_color_pedia_data.py
src/clj_colors/ingest
resources/images/swatch_capture_v0-1.png

resources/color_tags.edn
resources/associations.edn
resources/palettes.edn
resources/extensions/**/*.edn
!resources/extensions/**/*.edn.gz